In [ ]:
#CSV FileS AND PANDAS

In [2]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\rohan\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\rohan\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [4]:
import pandas as pd

# Creating the dataset
data = {
    "ID": [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15],
    "AGE": [21,23,22,34,33,43,22,32,32,22,12,17,36,76,43],
    "BLOODGROUP": ["A","B","O","A","A","A","AB","O","AB","B","B","B","O","O","O"],
    "GENDER": ["F","M","F","M","M","M","F","F","F","M","F","F","M","M","M"]
}

df = pd.DataFrame(data)

# Saving the dataset as CSV, Excel, and json
df.to_csv("lab14.csv", index=False)
df.to_excel("lab14.xlsx", index=False)
df.to_json("lab14.json", orient="records", indent=4)

print("the given dataset was converted into dataset.csv,dataset.xlsx, dataset.json files")

the given dataset was converted into dataset.csv,dataset.xlsx, dataset.json files

In [5]:
import pandas as pd

# Reading a CSV file into a pandas DataFrame
df = pd.read_csv("lab14.csv")

# Printing the first 5 rows
print(df.head())

# Printing the last 5 rows
print(df.tail())

# Getting the no of rows and columns
print(df.shape)

# Getting column names
print(df.columns)

# Getting simple information about the dataset
print(df.info())

# Getting basic statistics of numeric columns
print(df.describe())

   ID  AGE BLOODGROUP GENDER
0   1   21          A      F
1   2   23          B      M
2   3   22          O      F
3   4   34          A      M
4   5   33          A      M
    ID  AGE BLOODGROUP GENDER
10  11   12          B      F
11  12   17          B      F
12  13   36          O      M
13  14   76          O      M
14  15   43          O      M
(15, 4)
Index(['ID', 'AGE', 'BLOODGROUP', 'GENDER'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          15 non-null     int64
 1   AGE         15 non-null     int64
 2   BLOODGROUP  15 non-null     object
 3   GENDER      15 non-null     object
dtypes: int64(2), object(2)
memory usage: 612.0+ bytes
None
              ID        AGE
count  15.000000  15.000000
mean    8.000000  31.200000
std     4.472136  15.391092
min     1.000000  12.000000
25%     4.500000  22.000000
50%     8.000000  32.000000
75%    11.500000  35.000000
max    15.000000  76.000000

In [6]:
# Writing the DataFrame into a new CSV file
df.to_csv("output.csv", index=False)

# Appending new rows to the existing CSV file
df.to_csv("output.csv", mode='a', header=False, index=False)

In [7]:
# Reading a CSV file in chunks of 3 rows
for chunk in pd.read_csv("lab14.csv", chunksize=3):
    print(chunk.head())

   ID  AGE BLOODGROUP GENDER
0   1   21          A      F
1   2   23          B      M
2   3   22          O      F
   ID  AGE BLOODGROUP GENDER
3   4   34          A      M
4   5   33          A      M
5   6   43          A      M
   ID  AGE BLOODGROUP GENDER
6   7   22         AB      F
7   8   32          O      F
8   9   32         AB      F
    ID  AGE BLOODGROUP GENDER
9   10   22          B      M
10  11   12          B      F
11  12   17          B      F
    ID  AGE BLOODGROUP GENDER
12  13   36          O      M
13  14   76          O      M
14  15   43          O      M

In [8]:
# Selecting a specific column
print(df["AGE"])

# Selecting multiple columns
print(df[["AGE", "BLOODGROUP"]])

0     21
1     23
2     22
3     34
4     33
5     43
6     22
7     32
8     32
9     22
10    12
11    17
12    36
13    76
14    43
Name: AGE, dtype: int64
    AGE BLOODGROUP
0    21          A
1    23          B
2    22          O
3    34          A
4    33          A
5    43          A
6    22         AB
7    32          O
8    32         AB
9    22          B
10   12          B
11   17          B
12   36          O
13   76          O
14   43          O

In [9]:
# Filtering rows where Age is greater than 30
print(df[df["AGE"] > 30])

# Sorting rows by Age
print(df.sort_values("AGE"))

    ID  AGE BLOODGROUP GENDER
3    4   34          A      M
4    5   33          A      M
5    6   43          A      M
7    8   32          O      F
8    9   32         AB      F
12  13   36          O      M
13  14   76          O      M
14  15   43          O      M
    ID  AGE BLOODGROUP GENDER
10  11   12          B      F
11  12   17          B      F
0    1   21          A      F
2    3   22          O      F
6    7   22         AB      F
9   10   22          B      M
1    2   23          B      M
7    8   32          O      F
8    9   32         AB      F
4    5   33          A      M
3    4   34          A      M
12  13   36          O      M
5    6   43          A      M
14  15   43          O      M
13  14   76          O      M

In [10]:
# Dropping a column from the DataFrame
df_dropped = df.drop("ID", axis=1)
print(df_dropped.head())

   AGE BLOODGROUP GENDER
0   21          A      F
1   23          B      M
2   22          O      F
3   34          A      M
4   33          A      M

In [11]:
# Checking for missing values in the dataset
print(df.isnull().sum())

# Filling missing values with a default value
df_filled = df.fillna(0)
print(df_filled.head())

ID            0
AGE           0
BLOODGROUP    0
GENDER        0
dtype: int64
   ID  AGE BLOODGROUP GENDER
0   1   21          A      F
1   2   23          B      M
2   3   22          O      F
3   4   34          A      M
4   5   33          A      M

In [13]:
# Grouping data by a column and calculating the mean
print(df.groupby("GENDER")["AGE"].mean())

GENDER
F    22.571429
M    38.750000
Name: AGE, dtype: float64

In [ ]:
#Json files

In [14]:

import json

In [15]:
# Reading JSON data from the file
with open("lab14.json", "r") as f:
    loaded_data = json.load(f)

# Printing the loaded data
print(loaded_data)

[{'ID': 1, 'AGE': 21, 'BLOODGROUP': 'A', 'GENDER': 'F'}, {'ID': 2, 'AGE': 23, 'BLOODGROUP': 'B', 'GENDER': 'M'}, {'ID': 3, 'AGE': 22, 'BLOODGROUP': 'O', 'GENDER': 'F'}, {'ID': 4, 'AGE': 34, 'BLOODGROUP': 'A', 'GENDER': 'M'}, {'ID': 5, 'AGE': 33, 'BLOODGROUP': 'A', 'GENDER': 'M'}, {'ID': 6, 'AGE': 43, 'BLOODGROUP': 'A', 'GENDER': 'M'}, {'ID': 7, 'AGE': 22, 'BLOODGROUP': 'AB', 'GENDER': 'F'}, {'ID': 8, 'AGE': 32, 'BLOODGROUP': 'O', 'GENDER': 'F'}, {'ID': 9, 'AGE': 32, 'BLOODGROUP': 'AB', 'GENDER': 'F'}, {'ID': 10, 'AGE': 22, 'BLOODGROUP': 'B', 'GENDER': 'M'}, {'ID': 11, 'AGE': 12, 'BLOODGROUP': 'B', 'GENDER': 'F'}, {'ID': 12, 'AGE': 17, 'BLOODGROUP': 'B', 'GENDER': 'F'}, {'ID': 13, 'AGE': 36, 'BLOODGROUP': 'O', 'GENDER': 'M'}, {'ID': 14, 'AGE': 76, 'BLOODGROUP': 'O', 'GENDER': 'M'}, {'ID': 15, 'AGE': 43, 'BLOODGROUP': 'O', 'GENDER': 'M'}]

In [16]:
# Converting a Python dictionary into a JSON string
json_str = json.dumps(data, indent=4, sort_keys=True)
print(json_str)

{
    "AGE": [
        21,
        23,
        22,
        34,
        33,
        43,
        22,
        32,
        32,
        22,
        12,
        17,
        36,
        76,
        43
    ],
    "BLOODGROUP": [
        "A",
        "B",
        "O",
        "A",
        "A",
        "A",
        "AB",
        "O",
        "AB",
        "B",
        "B",
        "B",
        "O",
        "O",
        "O"
    ],
    "GENDER": [
        "F",
        "M",
        "F",
        "M",
        "M",
        "M",
        "F",
        "F",
        "F",
        "M",
        "F",
        "F",
        "M",
        "M",
        "M"
    ],
    "ID": [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14,
        15
    ]
}

In [17]:
# Converting a JSON string back into a Python dictionary
dict_data = json.loads(json_str)
print(dict_data)

{'AGE': [21, 23, 22, 34, 33, 43, 22, 32, 32, 22, 12, 17, 36, 76, 43], 'BLOODGROUP': ['A', 'B', 'O', 'A', 'A', 'A', 'AB', 'O', 'AB', 'B', 'B', 'B', 'O', 'O', 'O'], 'GENDER': ['F', 'M', 'F', 'M', 'M', 'M', 'F', 'F', 'F', 'M', 'F', 'F', 'M', 'M', 'M'], 'ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]}

In [18]:
#Excel Files

In [19]:
# Reading data from an Excel file
excel_df = pd.read_excel("lab14.xlsx")

# Printing the first 5 rows
print(excel_df.head())


# Getting dataset shape and columns
print(excel_df.shape)
print(excel_df.columns)

   ID  AGE BLOODGROUP GENDER
0   1   21          A      F
1   2   23          B      M
2   3   22          O      F
3   4   34          A      M
4   5   33          A      M
(15, 4)
Index(['ID', 'AGE', 'BLOODGROUP', 'GENDER'], dtype='object')

In [20]:
# Writing a DataFrame into a new Excel file
excel_df.to_excel("output.xlsx", index=False)

In [21]:
# Selecting specific columns
print(excel_df[["ID", "AGE"]])

# Filtering rows where Age is greater than 25
print(excel_df[excel_df["AGE"] > 25])

    ID  AGE
0    1   21
1    2   23
2    3   22
3    4   34
4    5   33
5    6   43
6    7   22
7    8   32
8    9   32
9   10   22
10  11   12
11  12   17
12  13   36
13  14   76
14  15   43
    ID  AGE BLOODGROUP GENDER
3    4   34          A      M
4    5   33          A      M
5    6   43          A      M
7    8   32          O      F
8    9   32         AB      F
12  13   36          O      M
13  14   76          O      M
14  15   43          O      M

In [22]:
# Getting all sheet names from an Excel file
xls = pd.ExcelFile("lab14.xlsx")
print(xls.sheet_names)

['Sheet1']

In [23]:
# Reading data from a  sheet in the Excel file
sheet_df = pd.read_excel("lab14.xlsx", sheet_name="Sheet1")
print(sheet_df.head())

   ID  AGE BLOODGROUP GENDER
0   1   21          A      F
1   2   23          B      M
2   3   22          O      F
3   4   34          A      M
4   5   33          A      M

In [24]:
# Handling missing values 
print(excel_df.isnull().sum())
excel_filled = excel_df.fillna("Unknown")
print(excel_filled.head())

ID            0
AGE           0
BLOODGROUP    0
GENDER        0
dtype: int64
   ID  AGE BLOODGROUP GENDER
0   1   21          A      F
1   2   23          B      M
2   3   22          O      F
3   4   34          A      M
4   5   33          A      M

In [25]:
# Creating a pivot table from Excel data
pivot = excel_df.pivot_table(values="AGE", index="GENDER", aggfunc="mean")
print(pivot)

              AGE
GENDER
F       22.571429
M       38.750000