In [1]:
#  Removes rows or columns that have missing values.
import pandas as pd
import numpy as np

df = pd.DataFrame({"Name": ["Alice", "Bob", "Charlie"],
                   "Age": [24, np.nan, 22],
                   "Score": [85, 90, np.nan]})
print("Original DataFrame with NaN values:\n", df, "\n")

print("Detect missing values:\n", df.isnull(), "\n")

print("Fill missing values:\n", df.fillna(0), "\n")

print("Drop rows with missing values:\n", df.dropna(), "\n")

Original DataFrame with NaN values:
       Name   Age  Score
0    Alice  24.0   85.0
1      Bob   NaN   90.0
2  Charlie  22.0    NaN

Detect missing values:
     Name    Age  Score
0  False  False  False
1  False   True  False
2  False  False   True

Fill missing values:
       Name   Age  Score
0    Alice  24.0   85.0
1      Bob   0.0   90.0
2  Charlie  22.0    0.0

Drop rows with missing values:
     Name   Age  Score
0  Alice  24.0   85.0

In [2]:
# Demonstrates adding DataFrames with overlapping indices and reindexing with a fill value
import pandas as pd

df1 = pd.DataFrame({"Score": [85, 90, 88]}, index=["Alice", "Bob", "Charlie"])
df2 = pd.DataFrame({"Score": [92, 80]}, index=["Bob", "David"])

print("DataFrame 1:\n", df1, "\n")
print("DataFrame 2:\n", df2, "\n")

print("Adding df1 and df2:\n", df1 + df2, "\n")

df3 = df1.reindex(["Alice", "Bob", "Charlie", "David"], fill_value=0)
print("Reindexed DataFrame:\n", df3, "\n")

DataFrame 1:
          Score
Alice       85
Bob         90
Charlie     88

DataFrame 2:
        Score
Bob       92
David     80

Adding df1 and df2:
          Score
Alice      NaN
Bob      182.0
Charlie    NaN
David      NaN

Reindexed DataFrame:
          Score
Alice       85
Bob         90
Charlie     88
David        0

In [3]:
# Groups rows by one or more columns and compute summary stats (like sum, mean).

import pandas as pd

data = {"Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
        "Age": [24, 27, 22, 30, 28],
        "Score": [85, 90, 88, 95, 89]}
df = pd.DataFrame(data)

print("Original DataFrame:\n", df, "\n")

print("Sorted by Score:\n", df.sort_values(by="Score"), "\n")

grouped = df.groupby("Age")["Score"].mean()
print("Average score grouped by Age:\n", grouped, "\n")

Original DataFrame:
       Name  Age  Score
0    Alice   24     85
1      Bob   27     90
2  Charlie   22     88
3    David   30     95
4      Eva   28     89

Sorted by Score:
       Name  Age  Score
0    Alice   24     85
2  Charlie   22     88
4      Eva   28     89
1      Bob   27     90
3    David   30     95

Average score grouped by Age:
 Age
22    88.0
24    85.0
27    90.0
28    89.0
30    95.0
Name: Score, dtype: float64

In [4]:
# Shows how to group a Series by another Series and access a specific group.
import pandas as pd

salary = pd.Series([50000, 55000, 60000, 62000],
                   index=["Alice", "Bob", "Charlie", "David"])
department = pd.Series(["HR", "HR", "IT", "IT"],
                       index=["Alice", "Bob", "Charlie", "David"])

grouped_series = salary.groupby(department)
print("Grouped Series (just groups, no aggregation):\n", grouped_series, "\n")

print("HR group in Series:\n", grouped_series.get_group("HR"), "\n")

Grouped Series (just groups, no aggregation):
 <pandas.core.groupby.generic.SeriesGroupBy object at 0x0000024B54E15810>

HR group in Series:
 Alice    50000
Bob      55000
dtype: int64

In [5]:
#Performs aggregation on grouped Series to compute mean, sum, and max per department.
aggregated_series = grouped_series.mean()
print("Aggregated Series (mean salary per department):\n", aggregated_series, "\n")

print("Sum per department:\n", grouped_series.sum(), "\n")
print("Max per department:\n", grouped_series.max(), "\n")

Aggregated Series (mean salary per department):
 HR    52500.0
IT    61000.0
dtype: float64

Sum per department:
 HR    105000
IT    122000
dtype: int64

Max per department:
 HR    55000
IT    62000
dtype: int64

In [6]:
# Compares grouping and averaging salaries using a regular Series with labels and a MultiIndex Series.
import pandas as pd

salary = pd.Series([50000, 55000, 60000, 62000],
                   index=["Alice", "Bob", "Charlie", "David"])
department = pd.Series(["HR", "HR", "IT", "IT"],
                       index=["Alice", "Bob", "Charlie", "David"])

grouped_series = salary.groupby(department).mean()
print("Mean salary by department (Series):\n", grouped_series, "\n")

arrays = [
    ["HR", "HR", "IT", "IT"],
    ["Alice", "Bob", "Charlie", "David"]
]
index = pd.MultiIndex.from_arrays(arrays, names=("Dept", "Employee"))
multi_s = pd.Series([50000, 55000, 60000, 62000], index=index)

grouped_multi = multi_s.groupby(level=0).mean()
print("Mean salary by department (MultiLevel Series):\n", grouped_multi, "\n")

Mean salary by department (Series):
 HR    52500.0
IT    61000.0
dtype: float64

Mean salary by department (MultiLevel Series):
 Dept
HR    52500.0
IT    61000.0
dtype: float64

In [7]:
# Groups a DataFrame by department and retrieves the rows belonging to the HR group
import pandas as pd

df = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT"],
    "Employee": ["Alice", "Bob", "Charlie", "David"],
    "Salary": [50000, 55000, 60000, 62000]
})

grouped_df = df.groupby("Department")
print("Grouped DataFrame (just groups, no aggregation):\n", grouped_df, "\n")

print("HR group in DataFrame:\n", grouped_df.get_group("HR"), "\n")

Grouped DataFrame (just groups, no aggregation):
 <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000024B52986AD0>

HR group in DataFrame:
   Department Employee  Salary
0         HR    Alice   50000
1         HR      Bob   55000

In [8]:
# Aggregates salaries by department using mean, and computes multiple statistics (mean, sum, max) with agg().
aggregated_df = grouped_df["Salary"].mean()
print("Aggregated DataFrame (mean salary per department):\n", aggregated_df, "\n")

multi_agg_df = grouped_df.agg({
    "Salary": ["mean", "sum", "max"]
})
print("Aggregated DataFrame (multiple stats):\n", multi_agg_df, "\n")

Aggregated DataFrame (mean salary per department):
 Department
HR    52500.0
IT    61000.0
Name: Salary, dtype: float64

Aggregated DataFrame (multiple stats):
              Salary
               mean     sum    max
Department
HR          52500.0  105000  55000
IT          61000.0  122000  62000

In [9]:
# Demonstrates grouping a DataFrame by department, retrieving groups, computing aggregated statistics, and filtering based on group conditions
import pandas as pd

df = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT", "HR", "IT"],
    "Employee": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank"],
    "Salary": [50000, 55000, 60000, 62000, 58000, 61000],
    "Bonus": [5000, 6000, 7000, 8000, 5500, 7500]
})

print("Original DataFrame:\n", df, "\n")

grouped = df.groupby("Department")
print("Groups formed:\n", grouped.groups, "\n")

print("HR group:\n", grouped.get_group("HR"), "\n")

mean_salary = grouped["Salary"].mean()
print("Mean Salary per Department:\n", mean_salary, "\n")

agg_stats = grouped.agg({
    "Salary": ["mean", "max", "min"],
    "Bonus": ["sum", "mean"]
})
print("Aggregated stats per Department:\n", agg_stats, "\n")

high_salary_dept = grouped.filter(lambda x: x["Salary"].mean() > 55000)
print("Departments with mean salary > 55000:\n", high_salary_dept, "\n")

Original DataFrame:
   Department Employee  Salary  Bonus
0         HR    Alice   50000   5000
1         HR      Bob   55000   6000
2         IT  Charlie   60000   7000
3         IT    David   62000   8000
4         HR      Eva   58000   5500
5         IT    Frank   61000   7500

Groups formed:
 {'HR': [0, 1, 4], 'IT': [2, 3, 5]}

HR group:
   Department Employee  Salary  Bonus
0         HR    Alice   50000   5000
1         HR      Bob   55000   6000
4         HR      Eva   58000   5500

Mean Salary per Department:
 Department
HR    54333.333333
IT    61000.000000
Name: Salary, dtype: float64

Aggregated stats per Department:
                   Salary                Bonus
                    mean    max    min    sum    mean
Department
HR          54333.333333  58000  50000  16500  5500.0
IT          61000.000000  62000  60000  22500  7500.0

Departments with mean salary > 55000:
   Department Employee  Salary  Bonus
2         IT  Charlie   60000   7000
3         IT    David   62000   8000
5         IT    Frank   61000   7500

In [10]:
# Groups a salary Series by department without applying any aggregation yet.
import pandas as pd

salary = pd.Series([50000, 55000, 60000, 62000],
                   index=["Alice", "Bob", "Charlie", "David"])
department = pd.Series(["HR", "HR", "IT", "IT"],
                       index=["Alice", "Bob", "Charlie", "David"])

grouped_series = salary.groupby(department)

# Print each group with its values
for dept, values in grouped_series:
    print(f"{dept}:\n{values}\n")

# Or print aggregated results, e.g., mean salary per department
print("Mean salary per department:\n", grouped_series.mean())

HR:
Alice    50000
Bob      55000
dtype: int64

IT:
Charlie    60000
David      62000
dtype: int64

Mean salary per department:
 HR    52500.0
IT    61000.0
dtype: float64

In [11]:
# Groups a DataFrame by the 'Department' column, creating department-wise groups for further analysis.
import pandas as pd

df = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT"],
    "Employee": ["Alice", "Bob", "Charlie", "David"],
    "Salary": [50000, 55000, 60000, 62000]
})

grouped_df = df.groupby("Department")

# Print each group with its rows
for dept, group in grouped_df:
    print(f"{dept}:\n{group}\n")

# Or print an aggregate (example: mean salary per department)
print("Mean salary per department:\n", grouped_df["Salary"].mean())

HR:
  Department Employee  Salary
0         HR    Alice   50000
1         HR      Bob   55000

IT:
  Department Employee  Salary
2         IT  Charlie   60000
3         IT    David   62000

Mean salary per department:
 Department
HR    52500.0
IT    61000.0
Name: Salary, dtype: float64

In [12]:
# Demonstrates grouping both a Series and a DataFrame by department, iterating over groups, and computing aggregated statistics.
import pandas as pd

salary_series = pd.Series([50000, 55000, 60000, 62000],
                          index=["Alice", "Bob", "Charlie", "David"])
department_series = pd.Series(["HR", "HR", "IT", "IT"],
                              index=["Alice", "Bob", "Charlie", "David"])

grouped_series = salary_series.groupby(department_series)
print("Grouped Series (no aggregation):")
for dept, group in grouped_series:
    print(f"{dept}: {group.values}")
print()

aggregated_series = grouped_series.mean()
print("Aggregated Series (mean salary per department):")
print(aggregated_series)
print("\n" + "="*50 + "\n")

df = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT"],
    "Employee": ["Alice", "Bob", "Charlie", "David"],
    "Salary": [50000, 55000, 60000, 62000],
    "Bonus": [5000, 6000, 7000, 8000]
})

grouped_df = df.groupby("Department")
print("Grouped DataFrame (no aggregation):")
for dept, group in grouped_df:
    print(f"{dept} group:\n{group}\n")

aggregated_df = grouped_df.agg({
    "Salary": ["mean", "sum"],
    "Bonus": ["mean", "sum"]
})
print("Aggregated DataFrame (Salary and Bonus stats per Department):")
print(aggregated_df)

Grouped Series (no aggregation):
HR: [50000 55000]
IT: [60000 62000]

Aggregated Series (mean salary per department):
HR    52500.0
IT    61000.0
dtype: float64

==================================================

Grouped DataFrame (no aggregation):
HR group:
  Department Employee  Salary  Bonus
0         HR    Alice   50000   5000
1         HR      Bob   55000   6000

IT group:
  Department Employee  Salary  Bonus
2         IT  Charlie   60000   7000
3         IT    David   62000   8000

Aggregated DataFrame (Salary and Bonus stats per Department):
             Salary           Bonus
               mean     sum    mean    sum
Department
HR          52500.0  105000  5500.0  11000
IT          61000.0  122000  7500.0  15000

In [13]:
#Combines two tables side-by-side using common columns (like SQL join).
import pandas as pd

df1 = pd.DataFrame({
    "Employee": ["Alice", "Bob", "Charlie", "David"],
    "Department": ["HR", "IT", "HR", "IT"]
})

df2 = pd.DataFrame({
    "Employee": ["Alice", "Bob", "Charlie", "Eva"],
    "Salary": [50000, 60000, 55000, 58000]
})

inner_merge = pd.merge(df1, df2, on="Employee", how="inner")
print("Inner Merge:\n", inner_merge, "\n")

outer_merge = pd.merge(df1, df2, on="Employee", how="outer")
print("Outer Merge:\n", outer_merge, "\n")

Inner Merge:
   Employee Department  Salary
0    Alice         HR   50000
1      Bob         IT   60000
2  Charlie         HR   55000

Outer Merge:
   Employee Department   Salary
0    Alice         HR  50000.0
1      Bob         IT  60000.0
2  Charlie         HR  55000.0
3    David         IT      NaN
4      Eva        NaN  58000.0

In [14]:
# Merges two DataFrames on different key columns using an inner join.
import pandas as pd

df1 = pd.DataFrame({
    "EmpID": [1, 2, 3],
    "Name": ["Alice", "Bob", "Charlie"]
})

df2 = pd.DataFrame({
    "EmployeeID": [2, 3, 4],
    "Salary": [60000, 55000, 58000]
})

merged_df = pd.merge(df1, df2, left_on="EmpID", right_on="EmployeeID", how="inner")
print("Merge on different keys:\n", merged_df)

Merge on different keys:
    EmpID     Name  EmployeeID  Salary
0      2      Bob           2   60000
1      3  Charlie           3   55000

In [15]:
# Performs an outer merge on 'Employee' and adds suffixes to differentiate overlapping 'Salary' columns.

df1 = pd.DataFrame({
    "Employee": ["Alice", "Bob"],
    "Salary": [50000, 60000]
})

df2 = pd.DataFrame({
    "Employee": ["Bob", "Charlie"],
    "Salary": [65000, 55000]
})

merged_df = pd.merge(df1, df2, on="Employee", how="outer", suffixes=("_Old", "_New"))
print("Merge with custom suffixes:\n", merged_df)

Merge with custom suffixes:
   Employee  Salary_Old  Salary_New
0    Alice     50000.0         NaN
1      Bob     60000.0     65000.0
2  Charlie         NaN     55000.0

In [16]:

df1 = pd.DataFrame({"Salary": [50000, 60000]}, index=["Alice", "Bob"])
df2 = pd.DataFrame({"Department": ["HR", "IT"]}, index=["Alice", "Bob"])

merged_index_df = pd.merge(df1, df2, left_index=True, right_index=True)
print("Merge using indexes:\n", merged_index_df)

Merge using indexes:
        Salary Department
Alice   50000         HR
Bob     60000         IT

In [17]:
#Creates a pivot table showing mean salaries for each Department-Team combination.
df = pd.DataFrame({
    "Department": ["HR","HR","IT","IT"],
    "Team": ["A","B","A","B"],
    "Salary": [50000,55000,60000,62000]
})
summary = df.pivot_table(values="Salary", index="Department", columns="Team", aggfunc="mean")
print(summary)

Team              A        B
Department
HR          50000.0  55000.0
IT          60000.0  62000.0

In [18]:
# Uses a pivot table to compute the average salary for each Department-Team combination.
import pandas as pd

df = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT", "HR", "IT"],
    "Team": ["A", "B", "A", "B", "A", "B"],
    "Salary": [50000, 55000, 60000, 62000, 58000, 61000]
})

summary_table = df.pivot_table(values="Salary", index="Department", columns="Team", aggfunc="mean")
print("Summary Table (Average Salary):\n", summary_table)

Summary Table (Average Salary):
 Team              A        B
Department
HR          54000.0  55000.0
IT          60000.0  61500.0

In [19]:
# Creates a pivot table applying multiple aggregation functions (mean, sum, max) on salaries by Department and Team

summary_table_multi = df.pivot_table(
    values="Salary",
    index="Department",
    columns="Team",
    aggfunc=["mean", "sum", "max"]
)
print("Pivot Table with Multiple Aggregations:\n", summary_table_multi)

Pivot Table with Multiple Aggregations:
                mean              sum            max
Team              A        B       A       B      A      B
Department
HR          54000.0  55000.0  108000   55000  58000  55000
IT          60000.0  61500.0   60000  123000  60000  62000

In [20]:

summary_table_fill = df.pivot_table(
    values="Salary",
    index="Department",
    columns="Team",
    aggfunc="mean",
    fill_value=0
)
print("Pivot Table with Missing Values Filled:\n", summary_table_fill)

Pivot Table with Missing Values Filled:
 Team              A        B
Department
HR          54000.0  55000.0
IT          60000.0  61500.0

In [21]:
# Computes mean salaries by Department and Team using groupby and reshapes with unstack, equivalent to a pivot table.
grouped = df.groupby(["Department", "Team"])["Salary"].mean().unstack()
print("Equivalent using groupby + unstack:\n", grouped)

Equivalent using groupby + unstack:
 Team              A        B
Department
HR          54000.0  55000.0
IT          60000.0  61500.0

In [22]:
# Import necessary libraries
import pandas as pd
import numpy as np

# Create a sample DataFrame if `df` does not already exist
try:
    df  # Check if df exists
except NameError:
    df = pd.DataFrame({
        'Category': ['A', 'B', 'A', 'C', None],
        'Value': [10, 20, None, 40, 50],
        'Date': ['2020-01-01', '2020-01-02', '2020-02-01', None, '2020-02-03']
    })
    print('Created sample DataFrame "df" for demo purposes.')

# Display the first few rows
print('\n--- df.head() ---')
display(df.head())

# Show info about columns, data types, and non-null counts
print('\n--- df.info() ---')
df.info()

# Show basic statistics for numeric and categorical columns
print('\n--- df.describe() ---')
display(df.describe(include='all'))

# Count missing values per column
print('\n--- Missing values per column ---')
print(df.isnull().sum())

# Fill missing numeric values in 'Value' column with median
print('\n--- Fill missing numeric values with median (example) ---')
if 'Value' in df.columns and df['Value'].isnull().any():
    df['Value_filled'] = df['Value'].fillna(df['Value'].median())
    display(df[['Value', 'Value_filled']].head())

# Compute mean of 'Value' grouped by 'Category'
print('\n--- Group by Category and compute mean of Value ---')
if 'Category' in df.columns and 'Value' in df.columns:
    display(df.groupby('Category', dropna=False).agg({'Value': 'mean'}))

# Convert 'Date' column to datetime and show min/max dates
print('\n--- Convert Date column to datetime and show min/max ---')
if 'Date' in df.columns:
    df['Date_parsed'] = pd.to_datetime(df['Date'], errors='coerce')
    display(df[['Date', 'Date_parsed']].head())
    print('Date range:', df['Date_parsed'].min(), 'to', df['Date_parsed'].max())

# Show count of unique values in 'Category', including NaN
print('\n--- Example value_counts for Category ---')
if 'Category' in df.columns:
    print(df['Category'].value_counts(dropna=False))

--- df.head() ---

  Department Team  Salary
0         HR    A   50000
1         HR    B   55000
2         IT    A   60000
3         IT    B   62000
4         HR    A   58000

--- df.info() ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Department  6 non-null      object
 1   Team        6 non-null      object
 2   Salary      6 non-null      int64
dtypes: int64(1), object(2)
memory usage: 276.0+ bytes

--- df.describe() ---

       Department Team        Salary
count           6    6      6.000000
unique          2    2           NaN
top            HR    A           NaN
freq            3    3           NaN
mean          NaN  NaN  57666.666667
std           NaN  NaN   4501.851471
min           NaN  NaN  50000.000000
25%           NaN  NaN  55750.000000
50%           NaN  NaN  59000.000000
75%           NaN  NaN  60750.000000
max           NaN  NaN  62000.000000

--- Missing values per column ---
Department    0
Team          0
Salary        0
dtype: int64

--- Fill missing numeric values with median (example) ---

--- Group by Category and compute mean of Value ---

--- Convert Date column to datetime and show min/max ---

--- Example value_counts for Category ---