In [1]:
#USING LAMBDA FUNCTIONS


# Addition
add = lambda x, y: x + y
print(add(1, 2)) 

# Multiplication
multiply = lambda x, y: x * y
print(multiply(4, 8))

3
32

In [2]:
numbers = [8, 5, 6, 9, 10]
squared_numbers = list(map(lambda x: x**2, numbers))
print(squared_numbers)

[64, 25, 36, 81, 100]

In [8]:
numbers = [7,8,9,10,11,12]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[8, 10, 12]

In [18]:
# Sorting a list of tuples by the SECOND element
data = [(1, 4), (3, 2), (5, 6)]
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)

[(3, 2), (1, 4), (5, 6)]

In [19]:
integer_list = [10, 60, 70, 40, 20] 
string_list = [] 
# Iterating through the list and convert each integer to a string
for number in integer_list:
    string_number = str(number) # Convert the integer to a string
    string_list.append(string_number) # Add the string to the new list
print(f"Original integer list: {integer_list}")
print(f"Converted string list: {string_list}")

Original integer list: [10, 60, 70, 40, 20]
Converted string list: ['10', '60', '70', '40', '20']

In [20]:
digits=[10,20,30,40,50]
print(dir(digits))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [21]:
number = 356745  # Define a number
digits = [int(d) for d in str(number)] # Convert the number to a string, then to a list of integer digits
print(digits)

for digit in digits:
    print(digit)

[3, 5, 6, 7, 4, 5]
3
5
6
7
4
5

In [24]:
name = ['SHOE','LACE','MAN']
looper = name.__iter__() #using iter 
print(type(name))
print(type(looper))
print(next(looper)) #using next
print(next(looper))
print(next(looper))
print(next(looper))#documenting stopiteration error

<class 'list'>
<class 'list_iterator'>
SHOE
LACE
MAN

StopIteration:

In [25]:
names = ["BALLROOM","YE","YOUKOSO"]  

looper = iter(names) 

while True:  # Start an infinite loop
    try:
        name = next(looper)  # Get the next element from the iterator
        print(name)
    except StopIteration:  # Catch the StopIteration exception
        break  # Exit the loop when the iterator is exhausted

BALLROOM
YE
YOUKOSO

In [27]:
#demonstration of iteratables



print("Iterable\n")
# Lists
my_list = ['choco', 'berry', 'sundae']
print("List Iteration")
for item in my_list:
    print(item)

# Tuples
my_tuple = ('redmoss', 'greenmoss', 'bluemoss')
print("\n Tuple Iteration ")
for color in my_tuple:
    print(color)

# Strings
my_string = "jupyter"
print("\n String Iteration ")
for char in my_string:
    print(char)

# Dictionaries (iterating over keys)
my_dict = {'name': 'metro', 'age': 30, 'city': 'chicago'}
print("\n Dictionary Key Iteration ")
for key in my_dict:
    print(key)

# Dictionaries (iterating over values)
print("\n Dictionary Value Iteration ")
for value in my_dict.values():
    print(value)

# Dictionaries (iterating over key-value pairs)
print("\n Dictionary Item Iteration ")
for key, value in my_dict.items():
    print(f"{key}: {value}")

# Sets
my_set = {'koala', 'hamster', 'mouse'}
print("\n Set Iteration ")
for animal in my_set:
    print(animal)

# Range object (generates numbers on the fly)
print("\n Range Object Iteration ")
for num in range(4):
    print(num)

# Custom iterable class
class MyIterable:
    def __init__(self, start, end):
        self.current = start
        self.end = end

    def __iter__(self):
        return self

    def __next__(self):
        if self.current <= self.end:
            val = self.current
            self.current += 1
            return val
        else:
            raise StopIteration

my_custom_iterable = MyIterable(1, 4)
print("\n--- Custom Iterable Iteration ---")
for val in my_custom_iterable:
    print(val)

Iterable

List Iteration
choco
berry
sundae

 Tuple Iteration
redmoss
greenmoss
bluemoss

 String Iteration
j
u
p
y
t
e
r

 Dictionary Key Iteration
name
age
city

 Dictionary Value Iteration
metro
30
chicago

 Dictionary Item Iteration
name: metro
age: 30
city: chicago

 Set Iteration
koala
mouse
hamster

 Range Object Iteration
0
1
2
3

--- Custom Iterable Iteration ---
1
2
3
4

In [9]:
#non iterable demonstration
print(" non iterable \n")

# Integers
my_int = 123
print("\n Non-Iterable: Integer ")
try:
    for digit in my_int:
        print(digit)
except TypeError as e:
    print(f"Error: {e}")

# Floats
my_float = 3.14
print("\n Non-Iterable: Float ")
try:
    for f_part in my_float:
        print(f_part)
except TypeError as e:
    print(f"Error: {e}")

# Booleans
my_bool = True
print("\n Non-Iterable: Boolean ")
try:
    for b_val in my_bool:
        print(b_val)
except TypeError as e:
    print(f"Error: {e}")

# None type
my_none = None
print("\n Non-Iterable: None ")
try:
    for n_val in my_none:
        print(n_val)
except TypeError as e:
    print(f"Error: {e}")

 non iterable


 Non-Iterable: Integer
Error: 'int' object is not iterable

 Non-Iterable: Float
Error: 'float' object is not iterable

 Non-Iterable: Boolean
Error: 'bool' object is not iterable

 Non-Iterable: None
Error: 'NoneType' object is not iterable

In [28]:
#map demo
def square (x):
 return x*x
numbers=[1,2,3,4,5]
print(list(map(square,numbers))) #map usage

[1, 4, 9, 16, 25]

In [33]:
#replacing map with lambda
numbers=[1,2,3,4,5]
print(list(map(lambda x:x*x,numbers))) #lambda usage

[1, 4, 9, 16, 25]

In [41]:
# 1. Filter out even numbers (keep odd numbers)
odd_numbers_filtered = filter(lambda x: x % 2 != 0, numbers)
# 2. Map (square) the odd numbers
squared_odd_numbers = map(lambda x: x**2, odd_numbers_filtered)
# Convert the map object to a list for printing
result = list(squared_odd_numbers)
print(f"Squared odd numbers: {result}")

Squared odd numbers: [1, 9, 25]

In [38]:
# 1. Map (double) each number
doubled_numbers = map(lambda x: x * 2, numbers)
# 2. Filter out numbers less than 10
filtered_doubled_numbers = filter(lambda x: x >= 10, doubled_numbers)
# Convert the filter object to a list
result = list(filtered_doubled_numbers)
print(f"Doubled and then filtered numbers: {result}")

Doubled and then filtered numbers: [10]

In [10]:
#Chaining operations for more complex data transformation
people = [
    {"name": "a", "age": 25},
    {"name": "b", "age": 30},
    {"name": "c", "age": 28},
    {"name": "d", "age": 35},
    {"name": "e", "age": 22},
    {"name": "f", "age": 40},
    {"name": "g", "age": 32},
    {"name": "h", "age": 26},
    {"name": "i", "age": 29},
]
# 1. Filter people older than 28
older_people = filter(lambda person: person["age"] > 28, people)
# 2. Map (extract name and convert to uppercase)
uppercase_names = map(lambda person: person["name"].upper(), older_people)
# Convert to a list
result_names = list(uppercase_names)
print(f"Uppercase names of people older than 28: {result_names}")

Uppercase names of people older than 28: ['B', 'D', 'F', 'G', 'I']

In [43]:
#replacing map with lamba and filter
numbers=[1,2,3,4,5]
print(list(filter(lambda x:x*x,numbers)))

[1, 2, 3, 4, 5]

In [31]:
names = ["rohit","emmanuel","albert","mcallister"]

# Convert all names to uppercase using map() and str.upper
uppercase_names = list(map(str.upper, names))
print(f"Uppercase names: {uppercase_names}") 

# Convert all names to lowercase using map() and str.lower
lowercase_names = list(map(str.lower, names))
print(f"Lowercase names: {lowercase_names}")

Uppercase names: ['ROHIT', 'EMMANUEL', 'ALBERT', 'MCALLISTER']
Lowercase names: ['rohit', 'emmanuel', 'albert', 'mcallister']

In [30]:
names = ["meenu","rohan","rohit","men","pun","john","chronos"]

# Filter out names longer than 5 characters
short_names = list(filter(lambda name: len(name) <= 5, names))
print(f"Names <= 5 characters: {short_names}")
# Output: Names <= 5 characters: ['Alice', 'Bob', 'David', 'Eve']

# Filter out names that start with a specific letter
names_starting_with_c = list(filter(lambda name: name.startswith('c'), names))
print(f"Names starting with 'C': {names_starting_with_c}")

Names <= 5 characters: ['meenu', 'rohan', 'rohit', 'men', 'pun', 'john']
Names starting with 'C': ['chronos']

In [32]:
from functools import reduce
numbers = [7, 6, 3, 5, 5]  # Define `numbers` as a list
total = reduce(lambda x, y: x + y, numbers)
print(total)

26

In [28]:
from functools import reduce
quote = "Its okay to be you."
# 1. Tokenize the quote into a list of words (split by space).
tokens = quote.split() 
print(f"Tokens: {tokens}") 
# 2. Use map() to add a space after each token
# using a lambda function.
spaced_tokens_uppercase = map(lambda word: word.upper() + " ", tokens)
# 3. Use reduce() to combine the tokens into a single string (the sentence)
sentence = reduce(lambda x, y: x + y, spaced_tokens_uppercase).strip() 
print(f"Reconstructed sentence (uppercase): {sentence}")

Tokens: ['Its', 'okay', 'to', 'be', 'you.']
Reconstructed sentence (uppercase): ITS OKAY TO BE YOU.